.App {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 10px;
}
.App button,
.App input {
  margin: 0 10px;
}
.App.alert,
.App.label {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.App.alert > div {
  margin: 10px;
}
.App.tooltip {
  flex: 1;
  position: relative;
}
.App.popover {
  flex: 1;
  position: relative;
}
.App.spinner {
  display: inline-flex;
}
.App.attachment {
  margin: 40px 20px;
}
